.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.paheHeaderMenuTextDark:global(.__wab_instance) {
  position: relative;
}
.section {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 54px 0px 63px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}
.freeBox__oKynk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 530px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__oKynk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__oKynk > :global(.__wab_flex-container) > *,
.freeBox__oKynk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oKynk > :global(.__wab_flex-container) > picture > img,
.freeBox__oKynk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-bottom: 0px;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 486px;
  text-align: left;
  min-width: 0;
}
.freeBox___7Cay {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7Cay > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___7Cay > :global(.__wab_flex-container) > *,
.freeBox___7Cay > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Cay > :global(.__wab_flex-container) > picture > img,
.freeBox___7Cay
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-OGQvnduWZ7RFWz);
  cursor: pointer;
  font-size: 16px;
  text-transform: none;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  background: #254e81;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid #29a38a;
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
