@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-LAKNdceiPrZpKh: #007aff;
  --plasmic-token-blue: var(--token-LAKNdceiPrZpKh);
  --token-7u4HHSLEuUSG7s: #333333;
  --plasmic-token-primary-label: var(--token-7u4HHSLEuUSG7s);
  --token-0q8Vsvh_E1tIX0: #666666;
  --plasmic-token-secondary-label: var(--token-0q8Vsvh_E1tIX0);
  --token-OGQvnduWZ7RFWz: #f4fafb;
  --plasmic-token-light-gray-06: var(--token-OGQvnduWZ7RFWz);
  --token-aWWFL2cqq0YoMq: #ffcc00;
  --plasmic-token-star-color: var(--token-aWWFL2cqq0YoMq);
  --token-e2EO1SEazN_KkW: 450px;
  --plasmic-token-height: var(--token-e2EO1SEazN_KkW);
  --token-takHdVCPLxwfFE: 320px;
  --plasmic-token-product-height: var(--token-takHdVCPLxwfFE);
  --token-FTlOohfQilBrk7: 250px;
  --plasmic-token-instagram-height: var(--token-FTlOohfQilBrk7);
  --token-Bp3oHehAo336v8: 100%;
  --plasmic-token-insta-width: var(--token-Bp3oHehAo336v8);
  --token-Lhbu2mVzK6K96h: 1px;
  --plasmic-token-fil: var(--token-Lhbu2mVzK6K96h);
  --token-9xFWPwVn-7ljQe: #000000;
  --plasmic-token-black: var(--token-9xFWPwVn-7ljQe);
  --token-ZPc69nzuwLO454: #ffffff;
  --plasmic-token-unnamed-style-token-2: var(--token-ZPc69nzuwLO454);
  --token-aVggzrBnGnLVQp: #663399;
  --plasmic-token-color: var(--token-aVggzrBnGnLVQp);
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-PmEIFWI4OphGIe_font-family: "Poppins";
  --mixin-PmEIFWI4OphGIe_font-size: 14px;
  --mixin-PmEIFWI4OphGIe_font-style: normal;
  --mixin-PmEIFWI4OphGIe_color: #797979;
  --mixin-PmEIFWI4OphGIe_text-align: left;
  --mixin-PmEIFWI4OphGIe_text-transform: none;
  --mixin-PmEIFWI4OphGIe_white-space: pre-wrap;
  --mixin-PmEIFWI4OphGIe_user-select: text;
  --mixin-PmEIFWI4OphGIe_text-decoration-line: none;
  --mixin-PmEIFWI4OphGIe_text-overflow: clip;
  --mixin-PmEIFWI4OphGIe_line-height: 1.6;
  --mixin-R7qQu-6H-pwe1M_font-family: "Playfair Display";
  --mixin-R7qQu-6H-pwe1M_font-weight: 400;
  --mixin-R7qQu-6H-pwe1M_font-size: 64px;
  --mixin-R7qQu-6H-pwe1M_color: var(--token-OGQvnduWZ7RFWz);
  --mixin-R7qQu-6H-pwe1M_line-height: 1.1;
  --mixin-ZJCv29eEiepp2p_color: #333333;
  --mixin-ZJCv29eEiepp2p_font-family: "Playfair Display";
  --mixin-ZJCv29eEiepp2p_font-weight: 400;
  --mixin-ZJCv29eEiepp2p_font-size: 34px;
  --mixin-ZJCv29eEiepp2p_line-height: 1.1;
  --mixin-ewwKHaFabqTOg0_color: var(--token-7u4HHSLEuUSG7s);
  --mixin-ewwKHaFabqTOg0_font-family: "Poppins";
  --mixin-ewwKHaFabqTOg0_font-weight: 500;
  --mixin-ewwKHaFabqTOg0_font-size: 28px;
  --mixin-ewwKHaFabqTOg0_line-height: 1.3;
  --mixin-LvYL5SjlZOHzWJ_color: var(--token-7u4HHSLEuUSG7s);
  --mixin-LvYL5SjlZOHzWJ_font-family: "Poppins";
  --mixin-LvYL5SjlZOHzWJ_font-weight: 600;
  --mixin-LvYL5SjlZOHzWJ_font-size: 18px;
  --mixin-iUdD1cGkx9uI5__color: var(--token-7u4HHSLEuUSG7s);
  --mixin-iUdD1cGkx9uI5__font-family: "Poppins";
  --mixin-iUdD1cGkx9uI5__font-weight: 500;
  --mixin-iUdD1cGkx9uI5__font-size: 18px;
  --mixin-k2kWGjqS6Ma8IL_color: var(--token-9xFWPwVn-7ljQe);
  --mixin-k2kWGjqS6Ma8IL_font-size: 16px;
  --mixin-k2kWGjqS6Ma8IL_font-family: "Poppins";
  --mixin-X-hi2VSlxqV9L0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-X-hi2VSlxqV9L0_border-bottom-color: #dddddd;
  --mixin-X-hi2VSlxqV9L0_border-bottom-style: solid;
  --mixin-X-hi2VSlxqV9L0_border-bottom-width: 1px;
  --mixin-X-hi2VSlxqV9L0_border-left-color: #dddddd;
  --mixin-X-hi2VSlxqV9L0_border-left-style: solid;
  --mixin-X-hi2VSlxqV9L0_border-left-width: 1px;
  --mixin-X-hi2VSlxqV9L0_border-right-color: #dddddd;
  --mixin-X-hi2VSlxqV9L0_border-right-style: solid;
  --mixin-X-hi2VSlxqV9L0_border-right-width: 1px;
  --mixin-X-hi2VSlxqV9L0_border-top-color: #dddddd;
  --mixin-X-hi2VSlxqV9L0_border-top-style: solid;
  --mixin-X-hi2VSlxqV9L0_border-top-width: 1px;
  --mixin-X-hi2VSlxqV9L0_border-bottom-left-radius: 3px;
  --mixin-X-hi2VSlxqV9L0_border-bottom-right-radius: 3px;
  --mixin-X-hi2VSlxqV9L0_border-top-left-radius: 3px;
  --mixin-X-hi2VSlxqV9L0_border-top-right-radius: 3px;
  --mixin-X-hi2VSlxqV9L0_font-family: "Inconsolata";
  --mixin-X-hi2VSlxqV9L0_padding-bottom: 3px;
  --mixin-X-hi2VSlxqV9L0_padding-left: 6px;
  --mixin-X-hi2VSlxqV9L0_padding-right: 6px;
  --mixin-X-hi2VSlxqV9L0_padding-top: 3px;
  --mixin-rhNk6Abr2711EU_border-left-color: #dddddd;
  --mixin-rhNk6Abr2711EU_border-left-style: solid;
  --mixin-rhNk6Abr2711EU_border-left-width: 3px;
  --mixin-rhNk6Abr2711EU_color: #888888;
  --mixin-rhNk6Abr2711EU_padding-left: 10px;
  --mixin-hn6ppe0Q8Vb-gE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hn6ppe0Q8Vb-gE_border-bottom-color: #dddddd;
  --mixin-hn6ppe0Q8Vb-gE_border-bottom-style: solid;
  --mixin-hn6ppe0Q8Vb-gE_border-bottom-width: 1px;
  --mixin-hn6ppe0Q8Vb-gE_border-left-color: #dddddd;
  --mixin-hn6ppe0Q8Vb-gE_border-left-style: solid;
  --mixin-hn6ppe0Q8Vb-gE_border-left-width: 1px;
  --mixin-hn6ppe0Q8Vb-gE_border-right-color: #dddddd;
  --mixin-hn6ppe0Q8Vb-gE_border-right-style: solid;
  --mixin-hn6ppe0Q8Vb-gE_border-right-width: 1px;
  --mixin-hn6ppe0Q8Vb-gE_border-top-color: #dddddd;
  --mixin-hn6ppe0Q8Vb-gE_border-top-style: solid;
  --mixin-hn6ppe0Q8Vb-gE_border-top-width: 1px;
  --mixin-hn6ppe0Q8Vb-gE_border-bottom-left-radius: 3px;
  --mixin-hn6ppe0Q8Vb-gE_border-bottom-right-radius: 3px;
  --mixin-hn6ppe0Q8Vb-gE_border-top-left-radius: 3px;
  --mixin-hn6ppe0Q8Vb-gE_border-top-right-radius: 3px;
  --mixin-hn6ppe0Q8Vb-gE_font-family: "Inconsolata";
  --mixin-hn6ppe0Q8Vb-gE_padding-bottom: 1px;
  --mixin-hn6ppe0Q8Vb-gE_padding-left: 4px;
  --mixin-hn6ppe0Q8Vb-gE_padding-right: 4px;
  --mixin-hn6ppe0Q8Vb-gE_padding-top: 1px;
  --mixin-99Tui8HfA0rJOc_display: flex;
  --mixin-99Tui8HfA0rJOc_flex-direction: column;
  --mixin-99Tui8HfA0rJOc_align-items: stretch;
  --mixin-99Tui8HfA0rJOc_justify-content: flex-start;
  --mixin-99Tui8HfA0rJOc_list-style-position: outside;
  --mixin-99Tui8HfA0rJOc_padding-left: 40px;
  --mixin-99Tui8HfA0rJOc_position: relative;
  --mixin-99Tui8HfA0rJOc_list-style-type: decimal;
  --mixin-rDrfK1Fax-_BYq_display: flex;
  --mixin-rDrfK1Fax-_BYq_flex-direction: column;
  --mixin-rDrfK1Fax-_BYq_align-items: stretch;
  --mixin-rDrfK1Fax-_BYq_justify-content: flex-start;
  --mixin-rDrfK1Fax-_BYq_list-style-position: outside;
  --mixin-rDrfK1Fax-_BYq_padding-left: 40px;
  --mixin-rDrfK1Fax-_BYq_position: relative;
  --mixin-rDrfK1Fax-_BYq_list-style-type: disc;
}

.plasmic_mixins,
.plasmic_mixins:where(.global_unnamedGlobalGroupOfVariants_unnamedVariant) {
  --mixin-iDo-aUS5KhSVjK_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-iDo-aUS5KhSVjK_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-PmEIFWI4OphGIe_font-family);
  font-size: var(--mixin-PmEIFWI4OphGIe_font-size);
  font-style: var(--mixin-PmEIFWI4OphGIe_font-style);
  color: var(--mixin-PmEIFWI4OphGIe_color);
  text-align: var(--mixin-PmEIFWI4OphGIe_text-align);
  text-transform: var(--mixin-PmEIFWI4OphGIe_text-transform);
  line-height: var(--mixin-PmEIFWI4OphGIe_line-height);
  white-space: var(--mixin-PmEIFWI4OphGIe_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-R7qQu-6H-pwe1M_font-family);
  font-weight: var(--mixin-R7qQu-6H-pwe1M_font-weight);
  font-size: var(--mixin-R7qQu-6H-pwe1M_font-size);
  color: var(--mixin-R7qQu-6H-pwe1M_color);
  line-height: var(--mixin-R7qQu-6H-pwe1M_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-ZJCv29eEiepp2p_color);
  font-family: var(--mixin-ZJCv29eEiepp2p_font-family);
  font-weight: var(--mixin-ZJCv29eEiepp2p_font-weight);
  font-size: var(--mixin-ZJCv29eEiepp2p_font-size);
  line-height: var(--mixin-ZJCv29eEiepp2p_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-ewwKHaFabqTOg0_color);
  font-family: var(--mixin-ewwKHaFabqTOg0_font-family);
  font-weight: var(--mixin-ewwKHaFabqTOg0_font-weight);
  font-size: var(--mixin-ewwKHaFabqTOg0_font-size);
  line-height: var(--mixin-ewwKHaFabqTOg0_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-LvYL5SjlZOHzWJ_color);
  font-family: var(--mixin-LvYL5SjlZOHzWJ_font-family);
  font-weight: var(--mixin-LvYL5SjlZOHzWJ_font-weight);
  font-size: var(--mixin-LvYL5SjlZOHzWJ_font-size);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-iUdD1cGkx9uI5__color);
  font-family: var(--mixin-iUdD1cGkx9uI5__font-family);
  font-weight: var(--mixin-iUdD1cGkx9uI5__font-weight);
  font-size: var(--mixin-iUdD1cGkx9uI5__font-size);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-k2kWGjqS6Ma8IL_color);
  font-size: var(--mixin-k2kWGjqS6Ma8IL_font-size);
  font-family: var(--mixin-k2kWGjqS6Ma8IL_font-family);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-X-hi2VSlxqV9L0_background);
  font-family: var(--mixin-X-hi2VSlxqV9L0_font-family);
  border-radius: var(--mixin-X-hi2VSlxqV9L0_border-top-left-radius)
    var(--mixin-X-hi2VSlxqV9L0_border-top-right-radius)
    var(--mixin-X-hi2VSlxqV9L0_border-bottom-right-radius)
    var(--mixin-X-hi2VSlxqV9L0_border-bottom-left-radius);
  padding: var(--mixin-X-hi2VSlxqV9L0_padding-top)
    var(--mixin-X-hi2VSlxqV9L0_padding-right)
    var(--mixin-X-hi2VSlxqV9L0_padding-bottom)
    var(--mixin-X-hi2VSlxqV9L0_padding-left);
  border-top: var(--mixin-X-hi2VSlxqV9L0_border-top-width)
    var(--mixin-X-hi2VSlxqV9L0_border-top-style)
    var(--mixin-X-hi2VSlxqV9L0_border-top-color);
  border-right: var(--mixin-X-hi2VSlxqV9L0_border-right-width)
    var(--mixin-X-hi2VSlxqV9L0_border-right-style)
    var(--mixin-X-hi2VSlxqV9L0_border-right-color);
  border-bottom: var(--mixin-X-hi2VSlxqV9L0_border-bottom-width)
    var(--mixin-X-hi2VSlxqV9L0_border-bottom-style)
    var(--mixin-X-hi2VSlxqV9L0_border-bottom-color);
  border-left: var(--mixin-X-hi2VSlxqV9L0_border-left-width)
    var(--mixin-X-hi2VSlxqV9L0_border-left-style)
    var(--mixin-X-hi2VSlxqV9L0_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-rhNk6Abr2711EU_color);
  padding-left: var(--mixin-rhNk6Abr2711EU_padding-left);
  border-left: var(--mixin-rhNk6Abr2711EU_border-left-width)
    var(--mixin-rhNk6Abr2711EU_border-left-style)
    var(--mixin-rhNk6Abr2711EU_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-hn6ppe0Q8Vb-gE_background);
  font-family: var(--mixin-hn6ppe0Q8Vb-gE_font-family);
  border-radius: var(--mixin-hn6ppe0Q8Vb-gE_border-top-left-radius)
    var(--mixin-hn6ppe0Q8Vb-gE_border-top-right-radius)
    var(--mixin-hn6ppe0Q8Vb-gE_border-bottom-right-radius)
    var(--mixin-hn6ppe0Q8Vb-gE_border-bottom-left-radius);
  padding: var(--mixin-hn6ppe0Q8Vb-gE_padding-top)
    var(--mixin-hn6ppe0Q8Vb-gE_padding-right)
    var(--mixin-hn6ppe0Q8Vb-gE_padding-bottom)
    var(--mixin-hn6ppe0Q8Vb-gE_padding-left);
  border-top: var(--mixin-hn6ppe0Q8Vb-gE_border-top-width)
    var(--mixin-hn6ppe0Q8Vb-gE_border-top-style)
    var(--mixin-hn6ppe0Q8Vb-gE_border-top-color);
  border-right: var(--mixin-hn6ppe0Q8Vb-gE_border-right-width)
    var(--mixin-hn6ppe0Q8Vb-gE_border-right-style)
    var(--mixin-hn6ppe0Q8Vb-gE_border-right-color);
  border-bottom: var(--mixin-hn6ppe0Q8Vb-gE_border-bottom-width)
    var(--mixin-hn6ppe0Q8Vb-gE_border-bottom-style)
    var(--mixin-hn6ppe0Q8Vb-gE_border-bottom-color);
  border-left: var(--mixin-hn6ppe0Q8Vb-gE_border-left-width)
    var(--mixin-hn6ppe0Q8Vb-gE_border-left-style)
    var(--mixin-hn6ppe0Q8Vb-gE_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-99Tui8HfA0rJOc_display);
  flex-direction: var(--mixin-99Tui8HfA0rJOc_flex-direction);
  align-items: var(--mixin-99Tui8HfA0rJOc_align-items);
  justify-content: var(--mixin-99Tui8HfA0rJOc_justify-content);
  list-style-position: var(--mixin-99Tui8HfA0rJOc_list-style-position);
  padding-left: var(--mixin-99Tui8HfA0rJOc_padding-left);
  position: var(--mixin-99Tui8HfA0rJOc_position);
  list-style-type: var(--mixin-99Tui8HfA0rJOc_list-style-type);
  flex-column-gap: var(--mixin-99Tui8HfA0rJOc_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-rDrfK1Fax-_BYq_display);
  flex-direction: var(--mixin-rDrfK1Fax-_BYq_flex-direction);
  align-items: var(--mixin-rDrfK1Fax-_BYq_align-items);
  justify-content: var(--mixin-rDrfK1Fax-_BYq_justify-content);
  list-style-position: var(--mixin-rDrfK1Fax-_BYq_list-style-position);
  padding-left: var(--mixin-rDrfK1Fax-_BYq_padding-left);
  position: var(--mixin-rDrfK1Fax-_BYq_position);
  list-style-type: var(--mixin-rDrfK1Fax-_BYq_list-style-type);
  flex-column-gap: var(--mixin-rDrfK1Fax-_BYq_flex-column-gap);
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset.plasmic_default__p) {
}
