.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 99;
  background: linear-gradient(#0a0a0a1c, #0a0a0a1c),
    url("/plasmic/fine_line_charters/images/champlainLandscapeMGjpeg.jpeg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.navBar:global(.__wab_instance) {
  align-self: center;
}
.section__krrWz {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__krrWz {
    padding-bottom: 0px;
    left: auto;
    top: auto;
  }
}
.container3 {
  flex-direction: column;
  max-width: none;
  display: flex;
  width: 100%;
  position: relative;
  align-self: flex-end;
  min-width: 0;
  padding: 200px 23px 220px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container3 {
    padding-top: 30px;
    padding-bottom: 66px;
  }
}
.freeBox__ntzCu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ntzCu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ntzCu > :global(.__wab_flex-container) > *,
.freeBox__ntzCu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ntzCu > :global(.__wab_flex-container) > picture > img,
.freeBox__ntzCu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__geH2 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__geH2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__geH2 > :global(.__wab_flex-container) > *,
.freeBox__geH2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__geH2 > :global(.__wab_flex-container) > picture > img,
.freeBox__geH2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.h1 {
  position: relative;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
.text__x3JxX {
  width: 100%;
  height: auto;
  max-width: 585px;
  text-align: center;
  color: var(--token-OGQvnduWZ7RFWz);
  font-size: 22px;
  font-weight: 500;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x3JxX {
    font-size: 20px;
  }
}
.freeBox__xXoPd {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(0px + 48px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__xXoPd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__xXoPd > :global(.__wab_flex-container) > *,
.freeBox__xXoPd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xXoPd > :global(.__wab_flex-container) > picture > img,
.freeBox__xXoPd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.button__s3Ztt {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-OGQvnduWZ7RFWz);
  cursor: pointer;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  font-weight: 700;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid var(--token-OGQvnduWZ7RFWz);
}
.root .button__s3Ztt:hover {
  background: var(--token-7u4HHSLEuUSG7s);
  border-color: var(--token-7u4HHSLEuUSG7s);
}
.button__tO93X {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-OGQvnduWZ7RFWz);
  cursor: pointer;
  font-size: 26px;
  text-transform: uppercase;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  border-radius: 0px;
  padding: 10px 30px;
  border: 1px solid var(--token-OGQvnduWZ7RFWz);
}
.root .button__tO93X:hover {
  background: var(--token-7u4HHSLEuUSG7s);
  border-color: var(--token-7u4HHSLEuUSG7s);
}
.section__tsf5P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 60px 20px;
}
.freeBox__pX4Mx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pX4Mx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 28px);
  height: calc(100% + 28px);
}
.freeBox__pX4Mx > :global(.__wab_flex-container) > *,
.freeBox__pX4Mx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pX4Mx > :global(.__wab_flex-container) > picture > img,
.freeBox__pX4Mx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 28px;
}
.h3__hSp2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 38px;
  min-width: 0;
}
.link {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-7u4HHSLEuUSG7s);
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 11px;
}
.text__crPzR {
  font-size: 18px;
  color: var(--token-7u4HHSLEuUSG7s);
  font-weight: 400;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-7u4HHSLEuUSG7s);
  flex-shrink: 0;
}
.section__ygnIe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-OGQvnduWZ7RFWz);
  min-width: 0;
  padding: 100px 20px;
}
.section__ygnIe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__ygnIe > :global(.__wab_flex-container) > *,
.section__ygnIe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__ygnIe > :global(.__wab_flex-container) > picture > img,
.section__ygnIe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ygnIe {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__tOdhR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__tOdhR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__tOdhR > :global(.__wab_flex-container) > *,
.freeBox__tOdhR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tOdhR > :global(.__wab_flex-container) > picture > img,
.freeBox__tOdhR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__dsu7Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__obwkc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__yOE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__yOE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__yOE > :global(.__wab_flex-container) > *,
.freeBox__yOE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yOE > :global(.__wab_flex-container) > picture > img,
.freeBox__yOE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.img__suyPe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__suyPe > picture > img {
  object-fit: cover;
}
.img__suyPe > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__uy65 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__fb4Bn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__fb4Bn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__fb4Bn > :global(.__wab_flex-container) > *,
.freeBox__fb4Bn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fb4Bn > :global(.__wab_flex-container) > picture > img,
.freeBox__fb4Bn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.img__fql4D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fql4D > picture > img {
  object-fit: cover;
}
.img__fql4D > .__wab_img-spacer > img {
  object-fit: cover;
}
.h3__nnD32 {
  margin-bottom: 0px;
}
.column__cg5EW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__roYnc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__roYnc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 14px);
  height: calc(100% + 14px);
}
.freeBox__roYnc > :global(.__wab_flex-container) > *,
.freeBox__roYnc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__roYnc > :global(.__wab_flex-container) > picture > img,
.freeBox__roYnc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 14px;
}
.img__so4Fs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__so4Fs > picture > img {
  object-fit: cover;
}
.img__so4Fs > .__wab_img-spacer > img {
  object-fit: cover;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
